// normal
.btn.btn-primary {
  background-color: var(--bs-primary);
}
.btn.btn-secondary {
  background-color: var(--bs-secondary);
}
.btn.btn-success {
  background-color: var(--bs-success);
}
.btn.btn-info {
  background-color: var(--bs-info);
}
.btn.btn-warning {
  background-color: var(--bs-warning);
}
.btn.btn-danger {
  background-color: var(--bs-danger);
}
.btn.btn-light {
  background-color: var(--bs-light);
}
.btn.btn-dark {
  background-color: var(--bs-dark);
}

// outlined
.btn.btn-outline-primary {
  color:  var(--bs-primary);
  border-color: var(--bs-primary);
  &:hover {
    color: var(--bs-light);
    background-color: var(--bs-primary);  
  }

}
.btn.btn-outline-secondary {
  color:  var(--bs-secondary);
  border-color: var(--bs-secondary);
  &:hover {
    color: var(--bs-light);
    background-color: var(--bs-secondary);  
  }

}
.btn.btn-outline-success {
  color:  var(--bs-success);
  border-color: var(--bs-success);
  &:hover {
    color: var(--bs-light);
    background-color: var(--bs-success);  
  }

}
.btn.btn-outline-info {
  color:  var(--bs-info);
  border-color: var(--bs-info);
  &:hover {
    color: var(--bs-light);
    background-color: var(--bs-info);  
  }

}
.btn.btn-outline-warning {
  color:  var(--bs-warning);
  border-color: var(--bs-warning);
  &:hover {
    color: var(--bs-light);
    background-color: var(--bs-warning);  
  }

}
.btn.btn-outline-danger {
  color:  var(--bs-danger);
  border-color: var(--bs-danger);
  &:hover {
    color: var(--bs-light);
    background-color: var(--bs-danger);  
  }

}
.btn.btn-outline-light {
  color:  var(--bs-light);
  border-color: var(--bs-light);
  &:hover {
    color: var(--bs-dark);
    background-color: var(--bs-light);  
  }

}
.btn.btn-outline-dark {
  color:  var(--bs-dark);
  border-color: var(--bs-dark);
  &:hover {
    color: var(--bs-light);
    background-color: var(--bs-dark);  
  }

}
